@import '../../shared/style/form';

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 3px;
	max-width: 388px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

.login_style{
	padding: 10; 
	padding-top: 0px!important;
	overflow: hidden;
}
.form-control:focus {
    color: #495057;
   /* background-color: #fff;*/
    border-color: #b7b7b7;
    color: #214444;
    box-shadow:none;
}
.form-control{
	font-family: "TT Norms","proxima-nova","Helvetica Neue","Helvetica","Arial",sans-serif;
}